<!doctype html>
<html lang="en"  xmlns:th = "http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>New About Page</title>
</head>
<body>
	<section>
	
		<h1>This page is practice for Inheritance Part</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nam consequatur nostrum at voluptas blanditiis corporis perferendis accusantium quam officiis voluptatum reprehenderit! Vero voluptatem non recusandae delectus explicabo. Quisquam ipsa at modi quasi ducimus necessitatibus tempore. Molestiae vitae fuga qui quod voluptate reprehenderit harum veniam sunt ullam veritatis saepe eaque adipisci unde aliquam non totam eligendi ipsum voluptates amet inventore dolor similique molestias enim repellat cupiditate! Id possimus rerum totam sit libero repellat earum facere maiores neque quae dolorum eaque odit esse perspiciatis soluta animi sed fugit? Maxime assumenda ut deleniti officia eaque vitae enim modi accusantium ipsa magnam temporibus!</p>
	</section>
</body>
</html>