
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Conditional Statement in Thymeleaf</title>
</head>
<body>
	<h1>Conditional Statement in Thymeleaf</h1>
	<h1>User is <span th:style = "${isActive} ? 'color:green;font-weight:bold;font-size:90px':'color:red;font-weight:bold;font-size:30px'" th:text="${isActive} ? 'Active' : 'Not Active'"></span></h1>
	<h1 th:if="${gender}=='M'">Male</h1>
	<h1 th:unless="${gender}=='M'">Female</h1>
	<div th:switch="${#lists.size(myList)}">
		<h1 th:case="'0'">The List is Empty</h1>
		<h1 th:case="'1'">The List contain one element</h1>
		<h1 th:case="*"> The List contain more than one element</h1>
	
	</div>
</body>
</html>