<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Example</title>
	<link rel="stylesheet" href="" th:href="@{/CSS/my.css}" />
</head>
<body>
	<div class="container">
		<img src="" th:src="@{/Image/prize.jpg}" alt="SDP-III" class="prize" />
		<h1>This is Adding CSS , JavaScript and Image file</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil inventore delectus maiores blanditiis doloribus velit placeat ex sint neque sunt atque dolor nobis quibusdam tenetur est dolore minima amet provident cupiditate autem laboriosam temporibus sit sapiente possimus iste rerum quo id non incidunt impedit nostrum repellendus nemo veniam. Eaque inventore ad repellendus error saepe nostrum excepturi non similique voluptatem cumque labore officiis eius animi consectetur expedita eveniet vel assumenda placeat itaque ullam ducimus fugiat quisquam voluptate consequuntur quaerat provident veritatis quibusdam debitis illo doloremque numquam veniam molestiae nemo tenetur fugit id quia minus voluptas dolores tempora delectus sequi perspiciatis possimus!</p>
	</div>
	
	<script src="" th:src="@{/Js/my.js}"></script>
</body>
</html>